BasedOnStyle: Google
ColumnLimit: 120
IncludeCategories:
  - Regex:           '^"(trt_converter)/'
    Priority:        3
  - Regex:           '^(<|"(gtest|gmock)/)'
    Priority:        4
  - Regex:           '<[[:alnum:].]+>'
    Priority:        1
  - Regex:           '<.*>'
    Priority:        2
  - Regex:           '^".*'
    Priority:        5